<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data â€“ it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [2]:
import pandas as pd
import math

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [14]:
data["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [15]:
print(math.floor(data[data["sex"] == "Female"]["age"].mean()), "years old")

36 years old

**3. What is the percentage of German citizens (*native-country* feature)?**

In [16]:
print(round(data["native-country"].value_counts(normalize=True)["Germany"] * 100, 2), "%")

0.42 %

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [17]:
print(data.groupby("salary")["age"].agg(["mean", "std"]))

             mean        std
salary
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

**6. Is it true that people who earn more than 50K have at least high school education? (*education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [18]:
high_school_or_above = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_earners = data[data["salary"] == ">50K"]

print(high_earners["education"].isin(high_school_or_above).all())

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [19]:
age_statistics = data.groupby(["race", "sex"])["age"].describe()
print(age_statistics.to_string())

max_age_eskimo_race = data[(data["sex"] == "Male") & (data["race"] == "Amer-Indian-Eskimo")]["age"].max()
print("\nMax male age for Amer-Indian-Eskimo race:", max_age_eskimo_race)

                             count       mean        std   min   25%   50%    75%   max
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0  46.00  80.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0  45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0  43.75  75.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0  46.00  90.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0  46.00  90.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0  46.00  90.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0  39.00  74.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0  42.00  77.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0  46.00  90.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0  49.00  90.0

Max male age for Amer-Indian-Eskimo race: 82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [20]:
high_earners = data[data["salary"] == ">50K"]
high_earners_count = len(high_earners)

married_earners_count = len(high_earners[high_earners["marital-status"].str.startswith("Married")])
single_earners_count = high_earners_count - married_earners_count

if married_earners_count > single_earners_count:
    print("Married men earn more")
else:
    print("Single men earn more")

Married men earn more

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [26]:
max_hours_per_week = data["hours-per-week"].max()
print("Maximum work hours per week:", max_hours_per_week)

workers = data[data["hours-per-week"] == max_hours_per_week]
print("Number of highest-load workers:", len(workers))

percentage_high_earners = (workers["salary"] == ">50K").mean() * 100
print("Percentage of high-earner workers:",
      math.floor(percentage_high_earners),
      "%")

Maximum work hours per week: 99
Number of highest-load workers: 85
Percentage of high-earner workers: 29 %

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [27]:
grouped_data = data.groupby(["native-country", "salary"])["hours-per-week"].mean().round(1)

print(grouped_data.to_string())
print(f"Japan:\n{grouped_data.loc["Japan"].to_string()}")

native-country              salary
?                           <=50K     40.2
                            >50K      45.5
Cambodia                    <=50K     41.4
                            >50K      40.0
Canada                      <=50K     37.9
                            >50K      45.6
China                       <=50K     37.4
                            >50K      38.9
Columbia                    <=50K     38.7
                            >50K      50.0
Cuba                        <=50K     38.0
                            >50K      42.4
Dominican-Republic          <=50K     42.3
                            >50K      47.0
Ecuador                     <=50K     38.0
                            >50K      48.8
El-Salvador                 <=50K     36.0
                            >50K      45.0
England                     <=50K     40.5
                            >50K      44.5
France                      <=50K     41.1
                            >50K      50.8
Germany                     <=50K     39.1
                            >50K      45.0
Greece                      <=50K     41.8
                            >50K      50.6
Guatemala                   <=50K     39.4
                            >50K      36.7
Haiti                       <=50K     36.3
                            >50K      42.8
Holand-Netherlands          <=50K     40.0
Honduras                    <=50K     34.3
                            >50K      60.0
Hong                        <=50K     39.1
                            >50K      45.0
Hungary                     <=50K     31.3
                            >50K      50.0
India                       <=50K     38.2
                            >50K      46.5
Iran                        <=50K     41.4
                            >50K      47.5
Ireland                     <=50K     40.9
                            >50K      48.0
Italy                       <=50K     39.6
                            >50K      45.4
Jamaica                     <=50K     38.2
                            >50K      41.1
Japan                       <=50K     41.0
                            >50K      48.0
Laos                        <=50K     40.4
                            >50K      40.0
Mexico                      <=50K     40.0
                            >50K      46.6
Nicaragua                   <=50K     36.1
                            >50K      37.5
Outlying-US(Guam-USVI-etc)  <=50K     41.9
Peru                        <=50K     35.1
                            >50K      40.0
Philippines                 <=50K     38.1
                            >50K      43.0
Poland                      <=50K     38.2
                            >50K      39.0
Portugal                    <=50K     41.9
                            >50K      41.5
Puerto-Rico                 <=50K     38.5
                            >50K      39.4
Scotland                    <=50K     39.4
                            >50K      46.7
South                       <=50K     40.2
                            >50K      51.4
Taiwan                      <=50K     33.8
                            >50K      46.8
Thailand                    <=50K     42.9
                            >50K      58.3
Trinadad&Tobago             <=50K     37.1
                            >50K      40.0
United-States               <=50K     38.8
                            >50K      45.5
Vietnam                     <=50K     37.2
                            >50K      39.2
Yugoslavia                  <=50K     41.6
                            >50K      49.5
Japan:
salary
<=50K    41.0
>50K     48.0